<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h1>PROGRAMMING LANGUAGE</h1>
    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quod deleniti libero obcaecati quidem, numquam voluptate commodi, blanditiis natus, repellendus vitae quo aperiam mollitia non vero repellat voluptatem alias sit.</P>
    <hr>
    <h2>c++</h2>
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ex consequuntur voluptatibus assumenda rerum laudantium magni asperiores error ullam corporis nemo commodi dignissimos, quos perferendis voluptate consectetur doloribus, quia aliquid?</P>
    <hr>
    <h3>c</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorem nam beatae ab expedita vel doloribus, fuga, corporis sapiente recusandae ad facere suscipit vitae quasi fugit, quae consequatur fugiat praesentium!</p>
    <hr>
    <h4>Java</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo voluptate hic at! Error possimus aliquid, recusandae ea impedit nostrum omnis doloribus maxime quas reiciendis veritatis deleniti aspernatur in amet earum!</p>
    <h5>o2 & life</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cumque ipsam similique sint? Rem molestiae magni assumenda enim quae est facere voluptas excepturi soluta. Nostrum explicabo officia facere quasi quia?</p>
    <hr>
</body>

</html>