 {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <!-- <p><a href="https://www.google.com/">img src</a></p> -->
    <p>
        <a href="https://www.google.com/"><img height="100" width="100" src="{% static 'google.jpg' %}" alt=""></a>
    </p>
    <p>
        <a href="https://www.facebook.com/"><img height="100" width="100" src="{% static 'facebook.png' %}" alt=""></a>
    </p>
    <p>
        <a href="https://www.Twitter.com/"><img height="100" width="100" src="{% static 'twitter.png' %}" alt=""></a>
    </p>
    <p>
        <a href="https://www.Microsoft.com/"><img height="100" width="100" src="{% static 'microsoft.jfif' %}" alt=""></a>
    </p>
</body>

</html>--