<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <p><a href="https://www.google.com/">img src</a></p>
    <p><a href="https://www.facebook.com/">Facebook</a></p>
    <p><a href="https://www.Twitter.com/">Twitter</a></p>
    <p><a href="https://www.Microsoft.com/">Microsoft</a></p>
</body>

</html>