<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        <Page Title>
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <ul>
        <h1><u>PROGRAMMING LANGUAGE</u></h1>


        <li><b>C</b></li>
        <li><b>C++</b></li>
        <li><b>Java</b></li>
        <li><b>Pascal</b></li>
        <li><b>Cobol</b></li>
    </ul>
    <ol>
        <h1>OBJECT ORIENTED PROGRAMMING LANGUAGE</h1>
        <li><b>C++</b></li>
        <li><b>Java</b></li>
        <li><b>Adan</b></li>
        <li><b>Fortan</b></li>


    </ol>
    <dl>
        <b> GECI</b>

    </dl>
    <dt><b>-Painavu,Idukki</b>B</dt>
    <dl><b>PHSS</b></dl>
    <dt><b>-Pavandoor,Calicut</dt>
    <dl>GHSS</dl>
    <dt>-Narikunni,Calicut</dt>

</body>

</html>