 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">

    <style>
        .myclass {
            background-color: blue;
        }
    </style>
</head>

<body>
    <h1 class="badge bg-secondary">heloo</h1>
    <h1>hlooooooo</h1>
    <h1>hlooooooo</h1>
    <button class="btn btn-danger">Click</button>
    <button class="btn btn-info">Click</button>
    <button class="btn btn-warning">Click</button>
    <a class="btn btn-info" href="">Test</a>


    <table class="table  table-bordered table-primary">
        <thead class="table table-hover">
            <tr>
                <th>ROLL NO</th>
                <th>NAME</th>
                <th>PLACE</th>
                <th>CONTACT</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tbody class="table table-bordered border-primary">
            <tr>
                <td>1</td>
                <td class="table-secondary">Anil</td>
                <td>Manjeri</td>
                <td>1234567896</td>
                <td>asd@gmail.com</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Anil</td>
                <td>Manjeri</td>
                <td>1234567896</td>
                <td>asd@gmail.com</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Anil</td>
                <td>Manjeri</td>
                <td>1234567896</td>
                <td>asd@gmail.com</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Anil</td>
                <td>Manjeri</td>
                <td>1234567896</td>
                <td>asd@gmail.com</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Anil</td>
                <td>Manjeri</td>
                <td>1234567896</td>
                <td>asd@gmail.com</td>
            </tr>
        </tbody>
    </table>

</body>

</html>