{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .ptest {
            size: 50px;
            border: 1px;
            border-radius: 20px;
            color: yellowgreen;
        }
        
        button {
            height: 50px;
            width: 150px;
            border: 1px solid #000000;
            border-radius: 10px;
            font-size: 30px;
            text-transform: uppercase;
        }
        
        .btn-red {
            background-color: red;
        }
        
        .btn-green {
            background-color: green;
        }
        
        .btn-blue {
            background-color: turquoise;
        }
        
        #test {
            background-color: yellow;
        }
        
        .div {
            width: 100%;
            height: 250px;
            background-color: #3b5998;
            color: bisque;
            /* border-style: double;
            border-width: 5px;
            border-color: rgb(252, 12, 172); */
            border: solid 5px blanchedalmond;
            outline: double 5px green;
        }
    </style>
</head>

<body>

    <p class="cls">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro ut vero suscipit? Laudantium amet molestias, deleniti, ut magni laboriosam nihil iusto nobis provident dolor iure obcaecati, officiis aperiam reiciendis culpa?</p>
    <p class="ptest">test</p>
    <p>this is another test</p>
    <button class="btn-red">click</button>
    <button class="btn-green">Test</button>
    <button class="btn-blue"> submitt</button>
    <i class="fa fa-facebook">Facebook</i>
    <button><i class="fa fa-home"></i>Click</button>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>

    <div class="div">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facilis commodi blanditiis ipsam recusandae quos? Perferendis vitae minima a. Id ipsa aliquam cum accusamus obcaecati explicabo recusandae. Reprehenderit, recusandae officia.</p>
    </div>

    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing
        elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet
        consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simconsectetur
        adipisicing elit. Laboriosam quisquam mollitia similique dicta ullam aspernatur, deserunt magnam archicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum
        dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam
        mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit.
        Laboriosam quisquam mollitia simconsectetur adipisicing elit. Laboriosam quisquam mollitia similique dicta ullam aspernatur, deserunt magnam archicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit.
        Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur
        adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor
        sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simconsectetur adipisicing elit. Laboriosam quisquam mollitia similique dicta ullam aspernatur, deserunt magnam archicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor
        sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia
        simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simconsectetur adipisicing elit. Laboriosam quisquam mollitia similique dicta ullam aspernatur, deserunt magnam archicing elit. Laboriosam
        quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing
        elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet
        consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simconsectetur adipisicing elit. Laboriosam quisquam mollitia similique dicta ullam aspernatur,
        deserunt magnam archicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem
        ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam
        mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simconsectetur adipisicing elit. Laboriosam quisquam mollitia
        similique dicta ullam aspernatur, deserunt magnam archicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit.
        Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur
        adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simLorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam mollitia simconsectetur adipisicing
        elit. Laboriosam quisquam mollitia similique dicta ullam aspernatur, deserunt magnam architecto obcaecati quod qui necessitatibus nesciunt saepe aliquam asperiores eligendi officiis modi aliquid!</p>
</body>

</html>