<html>

<head>

</head>

<body>
    <!-- <input type="text" id="no1">
    <input type="text" id="no2">
    <button onclick="TestFun()">Sum</button> -->
    <script>
        function TestFun(x, y) {
            // n1 = Number(document.getElementById("no1").value);
            // n2 = Number(document.getElementById("no2").value);
            // alert(n1 + "+" + n2 + "=" + (n1 + n2))
            // sum = x + y;
            // return sum;
        }
        // console.log(TestFun(52, 23))
    </script>
</body>

</html>